@import "tailwindcss";

@theme {
  --color-light-hover: #FCF4FF;
  --color-dark-hover: #2A004A;
  --color-dark-theme: #11001F;
  --color-purple: #682BD7;
  --font-lexend-deca: 'Lexend Deca', sans-serif;
  --font-syne: 'Syne', sans-serif;
  --box-shadow-black: 4px 4px 0 0 #000;
  --box-shadow-white: 4px 4px 0 0 #fff;
}

.hover-shadow:hover{
  box-shadow: var(--box-shadow-black);
  /* You can add other hover styles here as well, like changing color or transform */
}

@media (prefers-color-scheme: dark) {
  .hover-shadow:hover {
    box-shadow: var(--box-shadow-white); /* Box shadow for dark mode */
  }
}

.hover-shadow-white:hover{
  box-shadow: var(--box-shadow-white);
  /* You can add other hover styles here as well, like changing color or transform */
}

.grid-auto-fit-experience {
  display: grid; /* Make the element a grid container */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-auto-fit-works {
  display: grid; /* Make the element a grid container */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 1024px) { /* Large screens and up (md breakpoint in Tailwind is 768px, lg is 1024px)*/
  .grid-auto-fit-works {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on large screens */
  }
}