@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --color-light-hover: #FCF4FF;
  --color-dark-hover: #2A004A;
  --color-dark-theme: #11001F;
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', sans-serif;
}

.font-ovo {
  font-family: var(--font-ovo); /* Use the CSS variable */
}